<html>
<head>
<link rel="stylesheet" href="css/style.css">
<script src="js/angular.js"></script>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/Login.js"></script>
<title>Login Page</title>
<!-- <table style="margin-left:auto;margin-right:auto;"> style="margin: 0px auto;" -->
<body ng-app="Aptitude" ng-controller="AptitudeController">
	<div style="margin-top: 200px; display: block;" id="div_login">
		<form ng-submit="loginUser()">
			<!-- <label>Date format: <input ng-model="format"></label>
			<hr />
			Current time is: <span my-current-time="format"></span>
			<hr /> -->
			<table style="margin-left: auto; margin-right: auto;">
				<tr>
					<th colspan="2" style="text-align: center;">Login Information</th>
				</tr>
				<tr>
					<td>Login Name</td>
					<td><input id="login_LoginName" type="text"
						ng-model="login.loginName" required="required" /></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input id="login_Password" type="password"
						ng-model="login.password" required="required" /></td>
				</tr>
				<tr>
					<td style="text-align: left;"><input id="login_registerclick"
						type="button" value="Sign Up" class="blue-button" /></td>
					<td colspan="1" style="text-align: right;"><input
						type="submit" value="Login" class="blue-button" /> <input
						id="login_clearclick" type="button" value="Clear"
						class="red-button" /></td>
				</tr>

			</table>
		</form>
	</div>
	<div style="display: none;" id="div_aptitude">
		<form name="myform" ng-submit="validateanswers()">
			<p align="right" ng-bind="counter"></p>
			<ul style="list-style-type: none; padding: 0;">
				<li ng-repeat="questions in aptitude.question">
					<p>{{($index+1+". ")+questions.question}}</p>
					<ul style="list-style-type: none;">
						<li ng-repeat="option in questions.answers"><input
							name="{{questions.question}}" type="radio"
							ng-model="questions.answer" value="{{option}}"
							required="required"> {{option.answer}}</li>

					</ul> <!--  Answer: {{questions.answer}} -->
				</li>
			</ul>
			<p>
				<input type="submit" value="Submit">
			</p>
		</form>
		{{answers}}
	</div>
	<div style="display: none;" id="div_result">
		<form name="myformimport" ng-submit="exportPDF()">
			<table style="margin-left: auto; margin-right: auto;">
				<tr>
					<th style="text-align: center;">S. No</th>
					<th>Full Name</th>
					<th>Email</th>
					<th>Test Result</th>
					<th>Last Test Attempt</th>
					<th>Total Test Attempts</th>
				</tr>
				<tr ng-repeat="userdetail in userdetails">
					<td>{{ $index+1 }}</td>
					<td>{{ userdetail.fullName }}</td>
					<td>{{ userdetail.email }}</td>
					<td>{{ userdetail.testresult }}</td>
					<td>{{ userdetail.lastattemptoftest }}</td>
					<td>{{ userdetail.totalattempts }}</td>
				</tr>
				<tr>
					<td colspan="6" style="text-align: right;"><input
						type="button" class="blue-button" value="Import Excel"
						file-browser /> <input type="submit" id="getpdf"
						value="Export PDF" class="blue-button" /> <input
						id="login_logoutclick" type="button" value="Log Out"
						class="blue-button" /></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</head>
</html>