<html>
<head>
<link rel="stylesheet" href="css/style.css">
<script src="js/angular.js"></script>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/Register.js"></script>
<title>Sign Up Page</title>
<body ng-app="Aptitude" ng-controller="AptitudeController">
	<div style="margin-top: 200px;">
		<form ng-submit="registerUser()">
			<table style="margin-left: auto; margin-right: auto;">
				<tr>
					<th colspan="2" style="text-align: center;">Registration
						Information</th>
				</tr>
				<tr>
					<td>Full Name</td>
					<td><input id="register_FullName" type="text"
						ng-model="register.fullName" required="required" /></td>
				</tr>
				<tr>
					<td>Login ID</td>
					<td><input id="register_LoginName" type="text"
						ng-model="register.loginName" required="required" /></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input id="register_Password" type="password"
						ng-model="register.password" required="required" /></td>
				</tr>
				<tr>
					<td>Email ID</td>
					<td><input id="register_EmailID" type="email"
						ng-model="register.email" required="required" /></td>
				</tr>
				<tr>
					<td>Date of Birth</td>
					<td><input id="register_DOB" type="date" style="width: 166"
						ng-model="register.dob" required="required" /></td>
				</tr>
				<tr>
					<td style="text-align: left;"><input id="register_loginclick"
						type="button" value="Sign In" class="blue-button" /></td>
					<td colspan="1" style="text-align: right;"><input
						type="submit" value="Register" class="blue-button" /> <input
						id="register_clearclick" type="button" value="Clear"
						class="red-button" /></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</head>
</html>